* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  padding: 1rem;
}

/* Estilos de Colores */
.colores {
  background-color: #f1f1f1;
  padding: 1rem;
  font-size: 2em;
  color: red;
  text-align: center;
}

.color-hexadecimal {
  color: #f75590;
  background-color: black;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 10px;
}

.color-rgb {
  color: rgb(16, 255, 203);
  background-color: #f75590;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 10px;
}

.color-rgba {
  color: rgba(255, 0, 0, 0.5);
  background-color: powderblue;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 10px;
}

/* Fondos */
.fondo {
  /* background-color: orange; */
  background-image: url("https://picsum.photos/1000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

/* Espacios y Tamaños*/

.ancho {
  width: 100px;
  background-color: #f75590;
  color: #f1f1f1;
}

.alto {
  height: 100px;
  background-color: black;
  color: #f1f1f1;
}

.margen {
  background-color: #f75590;
  margin: 10px;
  color: #f1f1f1;
}

.padding {
  padding: 10px;
  background-color: black;
  color: #f1f1f1;
}

/* Card */
.card {
  border: rgb(150, 150, 150) 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px auto;
  width: 300px;
  background-color: #f1f1f1;
}
