.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.625rem;
}

.item {
  background-color: red;
  border: 1px solid #000;
  padding: 0.625rem;
  font-size: 1.875rem;
  text-align: center;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.item1 {
  grid-column: 2 / span 2;
}

.item9 {
  grid-area: 2/1/4/3;
  /* grid-area: fila-inicio / columna-inicio / fila-final / columna-final; */
}
